<!DOCTYPE html>
{%load static%}


<html lang="en-ru">
<head>
    <meta charset="UTF-8" >
    <title>Омерзительная Шестерка</title>
    <link rel="stylesheet" type="text/css" href="{% static 'webfilling/css/style.css' %}">
</head>
<body>
    <header>
        <div class="Header_menu">
            <div class="Logo">
                <h1>Grope of Frilansers from OverOne</h1>
            </div>
            <div class="Top_menu">
                <u1>
                        <li><a href="#">Главная</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Цены</a></li>
                        <li><a href="#">Контакты</a></li>
                </u1>
            </div>
        </div>
    </header>
<!--    <table>-->
<!--    <tr>-->
<!--    <td class="leftcol"><img class="left" src="{% static 'webfilling/img/Python3.jpg' %}" /></td> <td valign="top">-->
<!--    <H1 style="color: white">Why Python ? </H1> <H3 style="color: white">Python стал-->
<!--    популярным и востребованным так же быстро и неожиданно, как британская комик-группа Monty Python,-->
<!--    в честь которой был назван язык.<br> Популярность Python возросла благодаря: <br> Простоте синтаксиса<br>-->
<!--        множеству встроенных библиотек <br> доступным фреймворкам, расширяющих возможности языка Python </H3>-->
<!--    </td>-->
<!--    </tr>-->
<!--</table>-->
<!--    <H1 style="color: gold"><p align="center">Команда <b><i>"Омерзительной шестёрки"</i></b></p></H1>-->
    <H2 style=><p align="center">Мы группа свободных фрилансеров <br> молодые, амбициозные,
        готовые покорять просторы сферы разработки <br> общий совместный стаж более 1000 часов в разработке web-сайтов,
        telegam-bot<br>You can see us down:</p> </H2>
    <div>
    <center><p><H1><a href="denis"> <img src="{% static 'webfilling/img/denis.jpg' %}" alt="no image"
                                         width="192" height="252" align="middle" /></a>  Denis
    </H1></p></center>
    </div>
    <p></p>
    <div>
        <center><p><H1><a href="gvardeitsev"> <img src="{% static 'webfilling/img/gvard.jpg' %}" alt="no image"
                                                   width="192" height="252"  /></a>  Andrei
            <a href="tanya"><img src="{% static 'webfilling/img/tanya.jpg' %}" alt="no image" width="192" height="252" /></a>  Tanya
    </H1></p></center>
    </div>
    <div>
        <center><p><H1><a href="maxus"> <img src="{% static 'webfilling/img/maxus.jpg' %}" alt="no image" width="192" height="252"  /></a>  Maxim
            <a href="vital"><img src="{% static 'webfilling/img/vital.jpg' %}"  alt="no image" width="192" height="252"  /></a>  Vital
            <a href="alex"><img src="{% static 'webfilling/img/alex.jpg' %}" alt="no image" width="192" height="252"  /></a>  Alex
            <a href="lugas"><img src="{% static 'webfilling/img/lugas.jpg' %}" alt="no image" width="192" height="252"  /></a>   Maxim
    </H1></p></center>
    </div>

</body>
</html>
