<!DOCTYPE html>
{%load static%}


<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <title>Омерзительная Шестерка</title>
    <H1 style="color: gold"><p align="center">Команда <b><i>"Омерзительной шестёрки"</i></b></p></H1>
    <H2 style="color: white"><p align="center">You can see them down:</p> </H2>
</head>
    <body bgcolor="DodgerBlue">
    <div>
    <center><p><H1><a href="denis"> <img src="{% static 'webfilling/img/crown.jpg' %}" alt="Denis" width="193"
                                         height="193" align="middle" /></a>  Denis
    </H1></p></center>
    </div>
    <p></p>
    <div>
        <center><p><H1><a href="gvardeitsev"> <img src="{% static 'webfilling/img/gvard.jpg' %}" alt="no image"
                                                   width="160" height="192"  /></a>  Andrei
            <a href="tanya"><img src="{% static 'webfilling/img/tanya.jpg' %}" alt="no image" width="160" height="192"  /></a>  Tanya
    </H1></p></center>
    </div>
    <div>
        <center><p><H1><a href="maxus"> <img src="{% static 'webfilling/img/maxus.jpg' %}" alt="no image" width="193" height="193"  /></a>  Maxim
            <a href="vital"><img src="{% static 'webfilling/img/vital.jpg' %}"  alt="no image" width="193" height="193"  /></a>  Vital
            <a href="alex"><img src="{% static 'webfilling/img/alex.jpg' %}" alt="no image" width="193" height="193"  /></a>  Alex
            <a href="lugas"><img src="{% static 'webfilling/img/lugas.jpg' %}" alt="no image" width="193" height="193"  /></a>   Maxim
    </H1></p></center>
    </div>

    </body>
</html>
