<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Омерзительная Шестерка</title>
</head>
<body bgcolor="DodgerBlue">
    <table>
    <tr>
    <td class="leftcol"><img class="left" src="{% static 'webfilling/img/gvard.jpg' %}" /></td> <td valign="top">
    <H1 style="color: white">Кто же я такой? </H1> <H3 style="color: white"> Я Python-developer, закочнил курс на
        разработчика в OverOne в мае 2022г.<br> Курс прошел без проблем, мной остались довольны =)<br><br> MY WORK EXPERIENCE <br>
        08.2009 - present       Senior positions in the energy sector<br><br><br> <h1 style="color: Red">НАДО ДУМАТЬ !!!!!</h1>

    </H3>
    </td>
    </tr>
</table>

</body>
</html>