<!DOCTYPE html>
{%load static%}
<html lang="en-ru">
<head>
    <meta charset="UTF-8">
    <title>Омерзительная Шестерка</title>
    <H1 style="color: gold"><p align="center">Команда <b><i>"Омерзительной шестёрки"</i></b></p></H1>
    <H2 style="color: white"><p align="center">You can see them down:</p> </H2>
</head>
    <body bgcolor="DodgerBlue">
    <div>
    <center><p> <img src="{% static '/general/img/crown.jpg' %}" width="193" height="193"  />  Денис
    </p></center>
    </div>
    <p></p>
    <div>
    <center><p> <img src="{% static '/general/img/me.jpg' %}" width="193" height="193"  />  Andrei
    <img src="{% static '/general/img/tanya.jpg' %}" width="193" height="193"  />  Tanya
    </p></center>
    </div>
    <div>
    <center><p> <img src="{% static '/general/img/maxus.jpg' %}" width="193" height="193"  />  Maxim
    <img src="{% static '/general/img/vital.jpg' %}" width="193" height="193"  />  Vital
        <img src="{% static '/general/img/alex.jpg' %}" width="193" height="193"  />  Alex
    <img src="{% static '/general/img/lugas.jpg' %}" width="193" height="193"  />   Maxim
    </p></center>
    </div>

    </body>
</html>